.userIcons{
    color:rgb(48, 49, 50);
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    top:9%;
}
.Qicon{
    font-size: 20px;
    color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}